
<div class="card">
    <div class="card-header">
        <h5>Test Brief</h5>
      
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ITGC Name                        </th>
                        <th>Reference</th>
                        <th>Control Frequency</th>
                            <th>Risk</th>
                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Change Management
                            Process                            
                        </td>
                        <td>ITGC-18
                            </td>
                        <td>Event driven</td>
                        <td>Medium/High 
                            depending on application
                            
                            </td>
                            


                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Test Details</h5>
      
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ITGC Name</th>
                        <th>Risk</th>
                        <th>Classification</th>
                            <th>Objective</th>
                            <th>EY Testing method </th>
                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Change Management
                            Process
                            
                        </td>
                        <td>Unauthorized changes 
                            to application 
                            programs
                            
                            
                            </td>
                        <td>High - I - Fraud</td>
                        <td>- Change requests are documented and 
                            must be authorized and adequately 
                            tested before being applied to 
                            production
                            </td>
                            <td>Reperformance</td>
                            


                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>




                <div class="row">
                    <!-- Multiple Open Accordion start -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Test attributes</h5>
                            </div>
                            <div class="card-block accordion-block">
                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="accordion-panel">
                                        <div class="accordion-heading" role="tab" id="headingOne">
                                            <h3 class="card-title accordion-title">
                                                <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Step 1  
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                                A formal, up-to-date and documented procedure for all change requests is available (the document should describe that each change is authorized, tested, approved and that a global monitoring of changes is in place)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Step 2
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="accordion-content accordion-desc">
                                        <p>
                                            B-The list of appropriate approvers is documented in a list which is regularly reviewed and approved

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-panel">
                                <div class=" accordion-heading" role="tab" id="headingThree">
                                    <h3 class="card-title accordion-title">
                                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Step 3
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="accordion-content accordion-desc">
                                    <p>
                                        C-special form, electronic workflow or tool (i.e. documentation) is available to address the change requests and keep track of all events
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="accordion-panel">
                            <div class=" accordion-heading" role="tab" id="headingFour">
                                <h3 class="card-title accordion-title">
                                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        Step 4
                                </a>
                            </h3>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="accordion-content accordion-desc">
                                <p>
                                    D-All changes are tested prior to being moved to production                                </p>
                            </div>
                        </div>
                    </div>




                    <div class="accordion-panel">
                        <div class=" accordion-heading" role="tab" id="headingFive">
                            <h3 class="card-title accordion-title">
                                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Step 5
                            </a>
                        </h3>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="accordion-content accordion-desc">
                            <p>
                                E-All changes must be authorized by the appropriate person before being applied to production                        </div>
                    </div>
                </div>

                
                <div class="accordion-panel">
                    <div class=" accordion-heading" role="tab" id="headingSix">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Step 6
                        </a>
                    </h3>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="accordion-content accordion-desc">
                        <p>
                            M-Emergency application program changes are handled like standard changes. </div>
                </div>
            </div>

                   
            <div class="accordion-panel">
                <div class=" accordion-heading" role="tab" id="headingSeven">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Step 7
                    </a>
                </h3>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="accordion-content accordion-desc">
                    <p>
                        M-SAP system openings are appropriately justified and documented. </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Multiple Open Accordion ends -->
        <!-- Single Open Accordion start -->
     
        <!-- Single Open Accordion ends -->
    </div>
   
<a href="./assets/file/SOXWorkprogram.xlsx"  class="btn btn-warning" download="SOXWorkprogram.xlsx">Download Full preview</a>