<div class="row">
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">ITGC-1a</h5>
        </div>
        <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel">
                    <div class="accordion-heading" role="tab" id="headingOne">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Evidence
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="accordion-content accordion-desc">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-panel">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         PBC
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="accordion-content accordion-desc">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-panel">
            <div class=" accordion-heading" role="tab" id="headingThree">
                <h3 class="card-title accordion-title">
                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     IPE
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="accordion-content accordion-desc">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="accordion-heading" role="tab" id="headingFour">
            <h3 class="card-title accordion-title">
                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Procedure
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="accordion-content accordion-desc">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">ITGC-1b</h5>
        </div>
        <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel">
                    <div class="accordion-heading" role="tab" id="headingOne">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Evidence
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="accordion-content accordion-desc">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-panel">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         PBC
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="accordion-content accordion-desc">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-panel">
            <div class=" accordion-heading" role="tab" id="headingThree">
                <h3 class="card-title accordion-title">
                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     IPE
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="accordion-content accordion-desc">
                <div class="form-group row">

                    <div class="col-sm-10">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="accordion-heading" role="tab" id="headingFour">
            <h3 class="card-title accordion-title">
                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Procedure
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="accordion-content accordion-desc">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">ITGC-2</h5>
        </div>
        <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel">
                    <div class="accordion-heading" role="tab" id="headingOne">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Evidence
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="accordion-content accordion-desc">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-panel">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         PBC
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="accordion-content accordion-desc">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-panel">
            <div class=" accordion-heading" role="tab" id="headingThree">
                <h3 class="card-title accordion-title">
                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     IPE
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="accordion-content accordion-desc">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="accordion-heading" role="tab" id="headingFour">
            <h3 class="card-title accordion-title">
                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Procedure
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="accordion-content accordion-desc">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>



<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">ITGC-3</h5>
        </div>
        <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel">
                    <div class="accordion-heading" role="tab" id="headingOne">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Evidence
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="accordion-content accordion-desc">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-panel">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         PBC
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="accordion-content accordion-desc">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-panel">
            <div class=" accordion-heading" role="tab" id="headingThree">
                <h3 class="card-title accordion-title">
                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     IPE
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="accordion-content accordion-desc">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="accordion-heading" role="tab" id="headingFour">
            <h3 class="card-title accordion-title">
                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Procedure
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="accordion-content accordion-desc">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-text">ITGC-4</h5>
        </div>
        <div class="card-block accordion-block">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="accordion-panel">
                    <div class="accordion-heading" role="tab" id="headingOne">
                        <h3 class="card-title accordion-title">
                            <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Evidence
                        </a>
                    </h3>
                </div>
                <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="accordion-content accordion-desc">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-panel">
                <div class="accordion-heading" role="tab" id="headingTwo">
                    <h3 class="card-title accordion-title">
                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                         PBC
                    </a>
                </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="accordion-content accordion-desc">
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-panel">
            <div class=" accordion-heading" role="tab" id="headingThree">
                <h3 class="card-title accordion-title">
                    <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                     IPE
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="accordion-content accordion-desc">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-panel">
        <div class="accordion-heading" role="tab" id="headingFour">
            <h3 class="card-title accordion-title">
                <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                 Procedure
            </a>
        </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="accordion-content accordion-desc">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>