
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Select an ITGC</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
       
            </div>

        </div>
    </div>
     <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Select an ITGC</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
               
            </div>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Select an ITGC</h5>
                <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
            </div>
            <div class="card-block">
           
            </div>
            
        </div>
    </div>
</div>
