<div class="card">
    <div class="card-header">
        <div class="card-header-left">
            <h5>KSR Definition
            </h5>
        </div>

    </div>
    <div class="card-block">
        <!-- labels -->
        <div class="row">
            <div class="col-md-12">
                <p>Key System Reports are commonly represented as financial data reports. Auditors are required to verify factors that may have an impact on the effectiveness and reliability of the executed report during a SOX audit mission.
                </p>
             <p>When a report is run, a code is generated in the background. As a result, the audited entity has the flexibility to shift this code. As a result, we are required to verify two elements:
                </p>

                <ul>
                
                    <li>- UAT (User Acceptance Testing)</li>
                    <li> - Last modification date of code</li>
                </ul>
     
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <div class="card-header-left">
            <h5>KSR Types
            </h5>
        </div>

    </div>
    <div class="card-block">
        <!-- labels -->
        <div class="row">
            <div class="col-md-12">
               
             <p>Furthermore, KSR scope includes three types of reports:        </p>
                 <ul><li>-Standard Report</li>
                
                    <li>-Specific Report</li>
                    <li>-Query with parameters</li>
                </ul>
     
            </div>
        </div>
    </div>
</div>