<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Project Form </h5>
            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
        </div>
        <div class="card-block">
            <form class="form-material" [formGroup]="userForm">
                <div class="form-group form-default">
                    <input type="text" name="footer-email" class="form-control" formControlName="name">
                    <span class="form-bar"></span>
                    <label class="float-label">project name</label>
                </div>
              
                <div class="form-group form-default">
                    <input type="text" name="footer-email" class="form-control" formControlName="description">
                    <span class="form-bar"></span>
                    <label class="float-label">project description</label>
                </div>
             
                    
                <div class="form-group form-default">
                    <input type="date" name="footer-email" class="form-control" formControlName="Start">
                    <span class="form-bar"></span>
                    <label class="float-label">Date start</label>
                </div>
                <div class="form-group form-default">
                    <input type="date" name="footer-email" class="form-control" formControlName="Due">
                    <span class="form-bar"></span>
                    <label class="float-label">date due</label>
                </div>
              
                <button class="btn btn-inverse waves-effect waves-light" (click)="addItem()">Create</button>

            </form>
        </div>
    </div>
</div>
</div>



  <div class="card">
    <div class="card-header">
        <h5>Project Summarize        </h5>
        
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Projects</th>
                        <th>Projects Description </th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr *ngFor = "let item of listData; let i = index">
                            <td scope="row">{{i}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.Start}}</td>
                            <td>{{item.Due}}</td>
                            <td><button type="button" class="btn btn-primary" (click)="removeItems(item)">Remove</button></td>

                    </tr>
                  
                   
                </tbody>
            </table>
        </div>
    </div>
</div>