
<div class="card">
    <div class="card-header">
        <h5>Test Gobal</h5>
      
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ITGC Name                        </th>
                        <th>Reference</th>
                        <th>Control Frequency</th>
                            <th>Risk</th>
                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>User creation and modification
                        </td>
                        <td>ITGC-1a
                            </td>
                        <td>Event driven</td>
                        <td>Low/Medium depending on application
                            </td>
                            


                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Test Details</h5>
      
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ITGC Name</th>
                        <th>Risk</th>
                        <th>Classification</th>
                            <th>Objective</th>
                            <th>EY Testing method </th>
                            
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>User creation and 
                            modification
                        </td>
                        <td>Unauthorized access
                            to application and
                            data
                            </td>
                        <td>High - I - Fraud</td>
                        <td>- Formal user management procedures
                            exist and are approved
                            - Access requests are properly reviewed
                            and authorized by management
                            </td>
                            <td>Reperformance</td>
                            


                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</div>




                <div class="row">
                    <!-- Multiple Open Accordion start -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Test attributes</h5>
                            </div>
                            <div class="card-block accordion-block">
                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="accordion-panel">
                                        <div class="accordion-heading" role="tab" id="headingOne">
                                            <h3 class="card-title accordion-title">
                                                <a class="accordion-msg waves-effect waves-dark scale_active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Step 1  
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse in collapse show" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="accordion-content accordion-desc">
                                            <p>
                                               A- Existence of an up-to-date and documented procedure for user access management.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Step 2
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="accordion-content accordion-desc">
                                        <p>
                                            B-Generic accounts creation should be justified, in case of misstatement The account needs to be deactivated.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-panel">
                                <div class=" accordion-heading" role="tab" id="headingThree">
                                    <h3 class="card-title accordion-title">
                                        <a class="accordion-msg waves-effect waves-dark scale_active collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Step 3
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="accordion-content accordion-desc">
                                    <p>
                                        C-Access requests for any new/existing users need to be formalized,reviewed
                                        for compliance within organization's policies/procedures and approved by an appropriate individual.
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Multiple Open Accordion ends -->
        <!-- Single Open Accordion start -->
     
        <!-- Single Open Accordion ends -->
    </div>